.section {
  position: relative;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 60px 15px;
  }
}

.section.hero {
  padding-top: 64px;
  padding-bottom: 64px;
  background-image: url("https://cdn.prod.website-files.com/6814016ec27783c5f6615961/6814016ec27783c5f66159f5_Localization%20Demo.svg");
  background-position: 0% 100%;
  background-size: cover;
}

.section.metrics {
  background-image: radial-gradient(circle farthest-corner at 0% 50%, hsla(0, 0.00%, 6.00%, 1.00), hsla(0, 0.00%, 0.00%, 0.00) 21%), radial-gradient(circle farthest-corner at 90% 50%, hsla(0, 0.00%, 5.33%, 1.00), hsla(0, 0.00%, 0.00%, 0.00) 18%);
}

.section.cta {
  overflow: hidden;
  padding-bottom: 0px;

  background-image: url("https://cdn.prod.website-files.com/6814016ec27783c5f6615961/6814016ec27783c5f66159ee_Background-CTA2.svg");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: inset 20px 0 60px 0 hsla(0, 0.00%, 0.00%, 1.00);
}

.section.contact {
  padding-top: 60px;
  padding-bottom: 0px;
}

.section.contact:lang(fr) {
  padding-bottom: 20px;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }
}

.footer-top-wrapper {
  align-items: start;
  grid-column-gap: 8vw;
  grid-row-gap: 1rem;
  grid-template-columns: 0.75fr auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .footer-top-wrapper {
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .footer-top-wrapper {
    grid-row-gap: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .footer-top-wrapper {
    grid-row-gap: 48px;
  }
}

.footer-left-wrapper {
  display: flex;
  max-width: 32rem;
  flex-direction: column;
  align-items: flex-start;
}

.logo-link {
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .logo-link {
    margin-bottom: 1.5rem;
    padding-left: 0px;
  }
}

.text-medium {
  color: hsla(0, 0.00%, 100.00%, 0.70);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
}

.footer-form-blog {
  width: 100%;
  max-width: 35rem;
  margin-top: 2rem;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .footer-form-blog {
    margin-top: 1.5rem;
  }
}

.foot-form {
  display: grid;
  margin-bottom: 12px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr max-content;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .foot-form {
    flex-direction: column;
    grid-row-gap: 12px;
    grid-template-columns: 1fr;
  }
}

.form-input {
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0px;
  padding: 0.5rem 0.875rem;

  border: 1px solid var(--borderRadius-c0417f39);
  border-radius: 0.5rem;

  background-color: hsla(0, 0.00%, 100.00%, 0.06);

  box-shadow: 0 1px 2px 0 hsla(219.99999999999997, 42.86%, 10.98%, 0.05);

  transition: all 300ms ease;
}

.form-input:focus {
  border-color: var(--primary-4b5c02bd);
  box-shadow: 0 1px 2px 0 hsla(219.99999999999997, 42.86%, 10.98%, 0.05), 0 0 0 4px hsla(73.7007874015748, 88.88%, 70.03%, 0.50);
  color: #101828;
}

.form-input::placeholder {
  color: hsla(0, 0.00%, 100.00%, 0.70);
}

.button {
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;

  border-radius: 0.5rem;

  background-color: hsla(93.57798165137613, 0.00%, 100.00%, 1.00);

  transition: all 300ms cubic-bezier(.165, .84, .44, 1);

  color: hsla(219.99999999999997, 0.00%, 0.00%, 1.00);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  border-color: var(--yellowGreen700-c4be53de);
  background-color: hsla(93.6986301369863, 0.00%, 69.33%, 1.00);
  box-shadow: none;
  color: hsla(219.99999999999997, 0.00%, 0.00%, 1.00);
}

.button:focus {
  background-color: var(--primary-4b5c02bd);
  box-shadow: 0 1px 2px 0 hsla(219.99999999999997, 42.86%, 10.98%, 0.05), 0 0 0 4px hsla(73.7007874015748, 75.15%, 66.86%, 0.50);
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .button:hover {
    border-color: #7f56d9;
    background-color: #7f56d9;
  }
}

.text-small {
  color: hsla(0, 0.00%, 100.00%, 0.70);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
}

.text-small.text-color-light {
  color: hsla(0, 0.00%, 100.00%, 0.70);
}

.text-link {
  display: inline-block;
  transition: color 300ms ease;
  color: var(--white-d45e5cda);
  text-decoration: underline;
}

.text-link:hover {
  color: hsla(217.5, 0.00%, 47.33%, 1.00);
}

.success-message {
  padding: 1.5rem;
  background-color: hsla(0, 0.00%, 95.69%, 1.00);
}

.error-message {
  margin-top: 1.5rem;
  padding: 0.875rem 1rem;
}

.footer-menu-wrapper {
  align-items: start;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr 0.25fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .footer-menu-wrapper {
    grid-column-gap: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .footer-menu-wrapper {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }
}

.footer-link-list {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: flex-start;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto;

  text-align: left;
}

.footer-link-list-heading {
  margin-bottom: 1rem;
  color: var(--white-d45e5cda);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: normal;
}

.footer-link {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 8px;

  transition: all 300ms ease;

  color: hsla(0, 0.00%, 100.00%, 0.70);
  font-weight: 400;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--white-d45e5cda);
}

@media screen and (max-width: 767px) {
  .footer-link:hover {
    color: #667085;
  }
}

.badge {
  display: flex;
  padding: 0.125rem 0.625rem;
  align-items: center;
  grid-column-gap: 0.375rem;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 29.33%, 1.00);
  border-radius: 10rem;

  background-color: hsla(215.9999999999998, 0.00%, 6.67%, 1.00);

  opacity: 0.66;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .badge {
    padding: 0.125rem 0.5rem;
  }
}

.footer-social-link {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: flex-end;
  align-items: center;

  transition: all 300ms ease;

  text-decoration: none;
}

.footer-social-link:hover {
  color: var(--white-d45e5cda);
}

@media screen and (max-width: 767px) {
  .footer-social-link:hover {
    color: #667085;
  }
}

.footer-social-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: hsla(0, 0.00%, 100.00%, 0.70);
}

.footer-social-icon:hover {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.footer-bottom-wrapper {
  display: flex;
  margin-top: 4rem;
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--borderRadius-c0417f39);
}

@media screen and (max-width: 767px) {
  .footer-bottom-wrapper {
    margin-top: 3rem;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.footer-legal-list {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  grid-template-columns: max-content;
  grid-template-rows: auto;

  white-space: normal;
}

@media screen and (max-width: 767px) {
  .footer-legal-list {
    margin-bottom: 1rem;
  }
}

.footer-legal-link {
  transition: all 300ms ease;
  color: hsla(0, 0.00%, 100.00%, 0.70);
  font-size: 0.875rem;
  text-decoration: none;
}

.footer-legal-link:hover {
  color: var(--white-d45e5cda);
}

@media screen and (max-width: 767px) {
  .footer-legal-link:hover {
    color: hsla(217.77777777777777, 15.08%, 64.90%, 1.00);
  }
}